{% extends 'Manager/base.html' %}
{% load static %}

{% block title  %}
Trang quản lý tiền phòng {{ RoomName }} - {{ TowerName }}
{% endblock %}

{% block css  %}

{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><b>Danh sách nộp tiền thuê phòng {{ RoomName }} - {{ TowerName }}</b></h3>
              </div>
              <button type="button" class="btn btn-outline-primary btn-rounded waves-effect" onclick="window.location='http://127.0.0.1:8000/RoomManagement/newMonthCharge/';">Bắt đầu thu tháng mới</button>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Ngày lập</th>
                    <th>Mã số sinh viên</th>
                    <th>Họ và tên sinh viên</th>
                    <th>Số tiền</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                  </tr>
                  </thead>
                  <tbody>

                  {% for row in data %}
                  <tr>
                    <td>{{ row.NgayLap }}</td>
                    <td>{{ row.MaSV.MaSV }}</td>
                    <td>{{ row.MaSV.HoTen }}</td>
                    <td>{{ row.SoTien }}</td>
                    <td>{{ row.TrangThai }}</td>
                    <td>
                      <button type="button" class="btn btn-outline-primary btn-rounded waves-effect"  onclick="window.location='http://127.0.0.1:8000/RoomManagement/{{ RoomID }}/RoomCharge/acceptRoomCharge/{{ row.MaSV.MaSV }}/';">Xác nhận thu tiền</button>
                      <button type="button" class="btn btn-outline-primary btn-rounded waves-effect" onclick="window.location='http://127.0.0.1:8000/RoomManagement/{{ RoomID }}/RoomCharge/returnRoomCharge/{{ row.MaSV.MaSV }}/';">Hoàn tác thu tiền</button>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock content %}

{% block scripts %}
  <!-- page script -->
  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
      });
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>
  <!-- DataTables -->
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock  %}