{% extends "Student/base.html" %}
{% load static %}

{% block title %}
Trung Tâm Ký Túc Xá Đại Học Bách Khoa Hà Nội
{% endblock%}

{% block content %}
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Trung Tâm Ký Túc Xá Đại Học Bách Khoa Hà Nội</h1>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md">
                            <div class="sticky-top mb-4">
                                <div class="card">
                                    <div class="card-header">
                                        <img src="{% static 'images./ktx.jpg'%}" width="auto">
                                        <p>
                                            I. CHỨC NĂNG<br /> Trung tâm Ký túc xá (sau đây gọi tắt là Trung tâm KTX) là đơn vị dịch vụ, tham mưu giúp Hiệu trưởng quản lý, tổng hợp đề xuất ý kiến và tổ chức thực hiện công tác quản lý, đảm bảo các điều
                                            kiện hoạt động toàn bộ khu ký túc xá của nhà trường.<br /> II. NHIỆM VỤ<br /> Trung tâm KTX có trách nhiệm quản lý hoạt động của Ký túc xá sinh viên.<br /> - Quản lý ký túc xá sinh viên; đảm bảo an ninh trật
                                            tự, môi trường sinh hoạt và giáo dục lành mạnh; đẩy mạnh phong trào tự quản trong sinh viên.<br /> - Chủ trì, phối hợp với các đơn vị có liên quan tổ chức thực hiện công tác phòng cháy, chữa cháy, chống thiên
                                            tai, chống dịch bệnh, đảm bảo vệ sinh môi trường, vệ sinh an toàn thực phẩm trong Ký túc xá.<br /> - Phối hợp với các đơn vị liên quan đề xuất các mô hình, phương án quản lý ký túc xá theo hướng văn minh, hiện
                                            đại.
                                            <br /> - Thực hiện chế độ báo cáo tài chính, hạch toán thu chi, thực hiện nghĩa vụ tài chính đúng nguyên tắc, quy định của Nhà nước và Nhà trường.<br /> - Thực hiện chế độ báo cáo thống kê theo đúng quy định.
                                            <br /> - Xây dựng kế hoạch hàng năm về tổ chức nhân sự, thu chi tài chính, quy chế lưu trú xếp ở sinh viên nội trú.<br /> - Ban hành các văn bản, nội quy, quy trình cụ thể để chỉ đạo điều hành các hoạt động
                                            quản lý sinh viên nội trú KTX.<br /> - Xếp ở sinh viên nội trú theo từng nhà đúng đối tượng và đúng số lượng,<br /> - Xây dựng kế hoạch hàng năm về sửa chữa nâng cấp nhà ở, công trình hạ tầng. Phối hợp với các
                                            phòng ban chức năng triển khai các dự án trong KTX.<br /> - Phối hợp với Đoàn thanh niên, Hội sinh viên, TNXK tổ chức các hoạt động văn hóa thể thao cho sinh viên nội trú.<br /> - Hỗ trợ sinh viên không may
                                            bị ốm đau trong quá trình ở nội trú KTX.
                                        </p>
                                    </div>
                                    <!-- /input-group -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
{% endblock %}